<div id="image-home" class="text-center w-{{if this.isChange "100" this.args.width}} img-home " {{on "click" this.fullImage}}>
        <img src={{@img}} class="img-thumbnail w-75 mt-3" alt="home_img"><br>
        <label>view {{if this.isChange "smaller" "larger" }}</label>
</div>