<nav class="p-2 bg-danger   ">
    <LinkTo @route="index" class="text-decoration-none h1">
    SuperRentals
</LinkTo>
<div class="d-inline-block ml-5 ">
    <LinkTo @route="about" class="text-decoration-none h3">
        About
    </LinkTo>
    <LinkTo @route="getting-in-touch" class="text-decoration-none h3">
        Contact
    </LinkTo>
</div>  
</nav>