{{page-title "GettingInTouch"}}
<AboutCard
    @text="Contact Us"
    @content="Super Rentals Representatives would love to help you <br> choose a destination or answer any questions you may have."
    @route_name="about"
    @r_text="About"
>
<address>
    <i>Super Rentals HQ<br>
1212 Test Address Avenue<br>
Testington, OR 97233</i><br><br>
<a href="tel:1234567890" class="text-decoration-none c-blue">1234567890</a><br>
<a href="mailto:rental@gmail.com" class="text-decoration-none c-blue">rental@gmail.com</a>

</address>
</AboutCard>